# Homework 01

In [66]:
import pandas as pd
import numpy as np

In [3]:
# Question 1 
pd.__version__

'2.2.3'

In [4]:
# Import data
laptops_dataframe = pd.read_csv('laptops.csv')

In [59]:
laptops_dataframe.describe(include='all')

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
count,2160,2160,2160,2160,2160,2160.000000,2160.000000,2118,789,2156.000000,2160,2160.000000
unique,2160,2,27,121,28,NaN,NaN,2,44,NaN,2,NaN
top,PcCom Revolt One 3070 Intel Core i7-11800H/16G...,New,Asus,15S,Intel Core i7,NaN,NaN,SSD,RTX 3050,NaN,No,NaN
freq,1,1498,415,115,710,NaN,NaN,2062,129,NaN,1933,NaN
mean,NaN,NaN,NaN,NaN,NaN,15.413889,596.294444,NaN,NaN,15.168112,NaN,1312.638509
std,NaN,NaN,NaN,NaN,NaN,9.867815,361.220506,NaN,NaN,1.203329,NaN,911.475417
min,NaN,NaN,NaN,NaN,NaN,4.000000,0.000000,NaN,NaN,10.100000,NaN,201.050000
25%,NaN,NaN,NaN,NaN,NaN,8.000000,256.000000,NaN,NaN,14.000000,NaN,661.082500
50%,NaN,NaN,NaN,NaN,NaN,16.000000,512.000000,NaN,NaN,15.600000,NaN,1031.945000
75%,NaN,NaN,NaN,NaN,NaN,16.000000,1000.000000,NaN,NaN,15.600000,NaN,1708.970000
max,NaN,NaN,NaN,NaN,NaN,128.000000,4000.000000,NaN,NaN,18.000000,NaN,7150.470000

In [18]:
# Question 2
laptops_dataframe.shape[0]

2160

In [24]:
# Question 3
laptop_brands = laptops_dataframe["Brand"].unique()
print(len(laptop_brands))

27

In [50]:
# Questino 4
na_counts = laptops_dataframe.isna().sum()
columns_with_na = na_counts[na_counts > 0].count()
print(columns_with_na)

3

In [57]:
# Question 5
dell_laptops = laptops_dataframe[laptops_dataframe["Brand"] == "Dell"]
dell_laptops_max_price = dell_laptops["Final Price"].max()

print(dell_laptops_max_price)

3936.0

In [61]:
# Question 6
laptop_screens = laptops_dataframe["Screen"]
laptop_screens_median = laptop_screens.median()

laptop_screens_mode = laptop_screens.mode()
laptop_screens_filled = laptop_screens.fillna(laptop_screens_mode[0])

laptop_screens_filled_median = laptop_screens_filled.median()

print(f"With NA: {laptop_screens_median}")
print(f"Filled : {laptop_screens_filled_median}")

With NA: 15.6
Filled : 15.6

In [85]:
# Question 7
Innjoo_laptops = laptops_dataframe[laptops_dataframe["Brand"] == "Innjoo"]
Innjoo_laptops = Innjoo_laptops[["RAM", "Storage", "Screen"]]

X = Innjoo_laptops.to_numpy()
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)

y = [1100, 1300, 800, 900, 1000, 1100]

w = (XTX_inv @ X.T) * y
print(w.sum())

[[ 289.28183831 -163.28302487 -325.17111146  134.62818528   52.44041848
    57.68446033]
 [  -1.21170793    3.83576374    1.00713386   -1.59921842   -0.76387432
    -0.84026175]
 [ -96.49448601   35.07282588  137.12712814  -27.18972029   -1.53546111
    -1.68900722]]
91.29988062995548